  <% if @job_application.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <p>La création de la candidatures n'a pu aboutir pour les raisons suivantes :</p>
    <ul>
      <% @job_application.errors.full_messages.each do |message| %>
        <li> <%= message %> </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: [@user, @job_application], local: true do |form| %>

  <div class="form-group row">
    <div class="col-lg-9">
      <%= form.text_field :title, value: @job_application.title ? @job_application.title : "Titre du poste", class: "form-control"  %>
    </div>
    <div class="col-lg-3">
      <%= form.submit "Valider", class: "btn btn-outline-success btn-block" %>
    </div>
  </div>
<% end %>
