<footer class="py-3 mt-auto">
  <div class="container">
    <p class="m-0 text-center text-white">
      Mathieu Voland - Job Application Memo - 
      <a href="https://github.com/mvoland/job-app-memo" class="text-white"> Voir sur GitHub </a>
    </p>
  </div>
</footer>
