@import "~bootswatch/dist/pulse/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/pulse/bootswatch";

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}


footer {
  @extend .bg-secondary;
}

.jumbotron {
  @extend .bg-light, .py-2;
}


.navbar {
  @extend .navbar-dark, .bg-primary, .py-2;
}

.card {
  @extend .my-2;
}